@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ergo Brewing Recipe Management</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>What you are able to do</h2>
        <p>
            Create a list of your favorite beers and what makes them unique.  Create, Delete, Update, and  View at any time, see top menu.
        </p>
    </div>

    <div class="col-md-6">
        <h2>To Get Started</h2>
        <p>To start customizing your own beer list select the list all beers link bellow or use the top menu</p>
        <button type="button" onclick="location.href='@Url.Action("Index", "Recipe")'" class="btn" style="color: darkslategrey; font-weight: 800;">Ergo Beer Recipe List</button>

    </div>
</div>